{% extends 'base.html' %}

{% block title %}
	About 
{% endblock %}

{% block content %}
	About me
{% endblock %}

{% block text %}
	Привіт, менне звати Саша, і ке мій перший блог. В цьому блозі я буду розказувати багато цікавого про себе, і про різне. Бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла 
{% endblock %}
